GameType=auto

Width=400
Height=400
Bpp=32
Fullscreen=1
#AudioDriver = sdlaudio
CaseSensitive=1

GUIEnhancements = 15
#Logging = 1
DrawFPS=1

GamePath=~/Documents/Games/bg2demo
CD2=~/Documents/Games/bg2demo/Cd2
#CD1=/home/defaultuser/Documents/Games/Black Isle/BGII - SoA/
#CD2=/home/defaultuser/Documents/Games/Black Isle/BGII - SoA/CD2/
#CD3=/home/defaultuser/Documents/Games/Black Isle/BGII - SoA/CD3/
#CD4=/home/defaultuser/Documents/Games/Black Isle/BGII - SoA/CD4/
#CD5=/home/defaultuser/Documents/Games/Black Isle/BGII - SoA/CD5/

CachePath=~/.cache/@@ORGNAME@@/@@APPNAME@@
SavePath=~/.local/share/@@ORGNAME@@/@@APPNAME@@/save

# preconfigured path
#GemRBPath=@@INSTALLDIR@@
#PluginsPath=@@INSTALLDIR@@/plugins
#GUIScriptsPath=@@INSTALLDIR@@
#GemRBOverridePath=@@INSTALLDIR@@
#GemRBUnhardcodedPath=@@INSTALLDIR@@

#CustomFontPath=/usr/share/fonts

# paths in users's home, beware of Sailjail!
#GemRBPath=~/.local/share/@@ORGNAME@@/@@APPNAME@@
#PluginsPath=~/.local/share/@@ORGNAME@@/@@APPNAME@@/plugins
#GemRBUnhardcodedPath=~/.local/share/@@ORGNAME@@/@@APPNAME@@

#GameOverridePath=~/Downloads/gemrb/override
#GemRBOverridePath=~/Downloads/gemrb/gamedata
#GemRBUnhardcodedPath=~/Downloads/gemrb
#SavePath=~/Documents/@@APPNAME@@/save
#
#    RepeatKeyDelay=INT
#    Millisecond threshold for detecting a repeated key press. The default is 250.
#
#    UseSoftKeyboard=(0|1)
#    Toggles use of software keyboard on devices that support one. It pops up when text input is required. Disabled by default.
#
#    NumFingScroll=(2|3|4)
#    Number of fingers for multitouch to trigger scrolling. The default is 2.
#
#    NumFingKboard=(2|3|4)
#    Number of fingers for multitouch to open up the software keyboard. The default is 3. The value should not be equal to NumFingScroll above.
#
#    NumFingInfo=(2|3|4)
#    Number of fingers for multitouch to emulate a special keypress (alt, tab). The default is 2.
#
#    MouseFeedback=(0-3)
#    Bitfield with reserved bits for disabling the mouse.
#         Show mouse+tooltips = 0 (default)
#         Hide mouse = 1
#         Hide tooltips = 2
#         Hide mouse+tooltips = 3
#
#    TouchInput=(0-1) Override setting for when autodetection does not have satisfactory results.
#        Autodetect = -1 (default)
#        Force disable = 0
#        Enable = 1


UseSoftKeyboard=1
TouchScrollAreas=1
MouseFeedback=3
TouchInput=1

#NumFingScroll=2
#NumFingKboard=3
#NumFingInfo=2

GamepadPointerSpeed=10

#Vita specific options
VitaKeepAspectRatio=1

