#  Game Type [String]. Use one of the following:                              #
#                                                                             #
#  auto      Attempt to autodetect game type                                  #
#                                                                             #
#  bg1       Baldur's Gate                                                    #
#  bg2       Baldur's Gate 2 : SoA or ToB                                     #
#  bg2ee     Baldur's Gate 2 : EE (experimental!)                             #
#  how       Icewind Dale : HoW or ToTL                                       #
#  (iwd)     Icewind Dale (no How or ToTL installed)                          #
#  iwd2      Icewind Dale 2                                                   #
#  pst       Planescape Torment                                               #
#                                                                             #
#  demo      GemRB demo                                                       #
#  test      Minimal test mode                                                #
GameType=auto

# Set this to the native resolution of your device.
# e.g. JollaC2: 1600x720
Width=1600
Height=720
Bpp=32
#ScaleQuality = best
#CapFPS=0
# Use sprited fog of war [Boolean]
# For nostalgia. By default it looks more like accelerated FoW in BG2.
#SpriteFogOfWar=1


# fullscreen means "true" fullscreen, with video mode resizing.
# on sailfish OS we usually cannot do that, so let this be 0/false:
# Game data will then be centered and letterboxed. You will not be happy if you set this to true:
Fullscreen=0

# Should be 1 on UNIX:
CaseSensitive=1

GUIEnhancements = 15

DrawFPS=1
# Cap FPS, 0 = request VSync (SDL2 only, default), -1 = no limit, 30+ = cap value
#CapFPS=0


#  Full path to the directory where the game you want to play is installed.   #
GamePath=~/Documents/Games/bg2demo
CD2=~/Documents/Games/bg2demo/Cd2
#CD1=/home/defaultuser/Documents/Games/Black Isle/BGII - SoA/
#CD2=/home/defaultuser/Documents/Games/Black Isle/BGII - SoA/CD2/
#CD3=/home/defaultuser/Documents/Games/Black Isle/BGII - SoA/CD3/
#CD4=/home/defaultuser/Documents/Games/Black Isle/BGII - SoA/CD4/
#CD5=/home/defaultuser/Documents/Games/Black Isle/BGII - SoA/CD5/

CachePath=~/.cache/@@ORGNAME@@/@@APPNAME@@
SavePath=~/.local/share/@@ORGNAME@@/@@APPNAME@@/save

# preconfigured path
#GemRBPath=@@INSTALLDIR@@
#PluginsPath=@@INSTALLDIR@@/plugins
#GUIScriptsPath=@@INSTALLDIR@@
#GemRBOverridePath=@@INSTALLDIR@@
#GemRBUnhardcodedPath=@@INSTALLDIR@@

#CustomFontPath=/usr/share/fonts

# paths in users's home, beware of Sailjail!
#GemRBPath=~/.local/share/@@ORGNAME@@/@@APPNAME@@
#PluginsPath=~/.local/share/@@ORGNAME@@/@@APPNAME@@/plugins
#GemRBUnhardcodedPath=~/.local/share/@@ORGNAME@@/@@APPNAME@@

#GameOverridePath=~/Downloads/gemrb/override
#GemRBOverridePath=~/Downloads/gemrb/gamedata
#GemRBUnhardcodedPath=~/Downloads/gemrb
#SavePath=~/Documents/@@APPNAME@@/save
#
#
# Whether or not to use software keyboard on devices that support one
UseSoftKeyboard=1
# Adds a gutter around the screen for scrolling
TouchScrollAreas=1

#  Show mouse+tooltips = 0                                                    #
#  Hide mouse          = 1                                                    #
#  Hide tooltips       = 2                                                    #
#  Hide mouse+tooltips = 3                                                    #
MouseFeedback=3
# Force enable touch input (in case autodetection fails or for hybrids)
TouchInput=1

#    NumFingScroll=(2|3|4)
#    Number of fingers for multitouch to trigger scrolling. The default is 2.
#
#    NumFingKboard=(2|3|4)
#    Number of fingers for multitouch to open up the software keyboard. The default is 3. The value should not be equal to NumFingScroll above.
#
#    NumFingInfo=(2|3|4)
#    Number of fingers for multitouch to emulate a special keypress (alt, tab). The default is 2.
#

#NumFingScroll=2
#NumFingKboard=3
#NumFingInfo=2

# Pointer speed with thumbstick
GamepadPointerSpeed=10


